@media screen and (min-device-width:1301px) {
    .lab-main{
        width: 81%;
        float: right;
        background-color: rgb(240, 240, 240);
        min-height: 90vh;
        height: 100%;
        font-family: "Lato";
        z-index:0;
        overflow-x: hidden;
        padding-bottom: 3rem;
    }
    .lab-lab-main{
        float: left;
        margin:36px 24px;
    }
    .lab-booking-div{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 2rem;
    }
}
@media screen and (min-device-width:1061px) and (max-device-width:1300px) {
    .lab-main{
        width: 81%;
        float: right;
        background-color: rgb(240, 240, 240);
        min-height: 90vh;
        height: 100%;
        font-family: "Lato";
        z-index:0;
        overflow-x: hidden;
        padding-bottom: 3rem;
    }
    .lab-h2{
        font-size: 1.5rem;
    }
    .lab-lab-main{
        float: left;
        margin:36px 20px;
    }
    .lab-booking-div{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 2rem;
    }
}
@media screen and (max-device-width:1060px) and (min-device-width:769px){
    .lab-main{
        width: 77%;
        float: right;
        background-color: rgb(240, 240, 240);
        min-height: 90vh;
        height: 100%;
        font-family: "Lato";
        z-index:0;
        overflow-x: hidden;
        padding-bottom: 3rem;
    }
    
    .lab-h2{
        font-size: 1.5rem;
        max-width: 280px;
    }
    .lab-lab-main{
        margin:18px 0px 36px 15px;
        float: left;

    }
    .lab-booking-div{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 2rem;
    }
}
@media screen and (max-device-width:768px) and (min-device-width:525px){
    .lab-main{
        width: 100%;
        float: right;
        background-color: rgb(240, 240, 240);
        min-height: 90vh;
        height: 100%;
        font-family: "Lato";
        z-index:0;
        overflow-x: hidden;
        padding-bottom: 3rem;
    }
    .lab-h2{
        font-size: 1.5rem;
        width: 90%;
        max-width: 300px;
    }
    .lab-lab-main{
        margin:26px 24px;
        position: absolute;
        top: 5rem;
    }
    .lab-booking-div{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 1rem;
    }
}
@media screen and (max-device-width:524px) {
    .lab-main{
        width: 100%;
        float: right;
        background-color: rgb(240, 240, 240);
        min-height: 90vh;
        height: 100%;
        font-family: "Lato";
        z-index:0;
        overflow-x: hidden;
        padding-bottom: 3rem;
    }
    .lab-h2{
        font-size: 1.5rem;
        max-width: 100%;
    }
    .lab-lab-main{
        margin:26px 24px;
        position: absolute;
        top: 8.5rem;
    }
    .lab-booking-div{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 10rem 0.2rem 0rem;
    }
}